{% extends "base.html" %}

{% block title %}<title>Selling Points</title>{% endblock %}

{% block content %}
<div class="text-end pt-5">
    <a href="{% url 'sellingpoint_create' %}" class="btn btn-primary">Add Selling Point</a>
    
    <a href="{% url 'export-selling-point' %}" class="btn btn-success">Export Selling Points</a>
</div>
<h1 class="text-center">List of Selling Points</h1>

{% if sellingpoint_list %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Code</th>
        <th scope="col">Wilaya</th>
        <th scope="col">Moughataa</th>
        <th scope="col">Commune</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for sellingpoint in sellingpoint_list %}
        <tr>
          <th scope="row">{{ sellingpoint.id }}</th>
          <td>{{ sellingpoint.code }}</td>
          <td>{{ sellingpoint.wilaya }}</td>
          <td>{{ sellingpoint.moughataa }}</td>
          <td>{{ sellingpoint.commune }}</td>
          <td>
            <a href="{% url 'sellingpoint_detail' sellingpoint.id %}" class="btn btn-info">View</a>
            <a href="{% url 'sellingpoint_update' sellingpoint.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'sellingpoint_delete' sellingpoint.id %}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>There are no selling points in the database.</p>
{% endif %}
{% endblock %}
